html {
	
}

body {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
}

.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6
 {
	color: #222;
 }

 .wrapper.style2 {
	color: #333;
 }

#header {
	background-color: #66894a;
	color: #edfaee;
	height: 100vh;
}

header.major p {
	text-align: left;
}

#header .button.primary {
	color:#66894a !important;
}

#header p {
	margin-left:auto;
}

div#languageselector {
	position: -webkit-sticky;
	position: fixed;
   	bottom: 0px;
   	z-index: 9999;
	width: 100%;
	background-color: #66894a;
	
}

div#languageselector ul {
	margin-bottom: 1rem;
}

div#languageselector a {
	color: #fff;
}

div#languageselector a:hover {
	color: #ddd;
}

ul.nav {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	padding-top: 1rem;
}

ul.nav li {
	padding-left: 1rem;
}

/*.image.phone:before, .image.phone:after {
				content: none;
			}

.image.phone {
	margin-right: 3em;
}
*/

p.caption {
	font-size: 0.8em;
}

/*#header {
	background-image: none;
}
*/

ul.icons {
	font-size: 2rem;
}

ul.icons span.label {
	display: none;
}


@media screen and (max-width: 736px) {
    header.major p {
        text-align: center;
    }
}